# Introduction to Pandas

## Series - 1D Labeled Array

In [1]:
import pandas as pd

s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [2]:
s = pd.Series([10, 20, 30], index=["a", "b", "c"])
print(s)

a    10
b    20
c    30
dtype: int64

In [4]:
data = {
    "name": ["Naveed", "Ziah", "Ashwariya"],
    "age": [19,19,19],
    "city": ["Samaro", "Hyderabad", "Lahore"]
}

df = pd.DataFrame(data)
print(df)

        name  age       city
0     Naveed   19     Samaro
1       Ziah   19  Hyderabad
2  Ashwariya   19     Lahore

In [5]:
df.index = ["a", "b", "c"]
df.columns = ["Name", "Age", "City"]
print(df)

        Name  Age       City
a     Naveed   19     Samaro
b       Ziah   19  Hyderabad
c  Ashwariya   19     Lahore